@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/inter.woff2") format("woff2");
}

@font-face {
  font-family: "Clash";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/clash.woff2") format("woff2");
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  color-scheme: light dark;
  --fs-sm: clamp(0.8rem, -0.09vi + 0.82rem, 0.75rem);
  --fs-base: clamp(1rem, 0vi + 1rem, 1rem);
  --fs-md: clamp(1.2rem, 0.15vi + 1.21rem, 1.33rem);
  --fs-lg: clamp(1.56rem, 0.39vi + 1.47rem, 1.78rem);
  --fs-xl: clamp(1.95rem, 0.76vi + 1.76rem, 2.37rem);
  --fs-xxl: clamp(2.44rem, 1.3vi + 2.12rem, 3.16rem);
  --fs-xxxl: clamp(3.05rem, 2.1vi + 2.53rem, 6.21rem);
  --background: #000;
  --foreground: #000;
  --primary: #7ee081;
  --color-text: #767676;
}

html,
body {
  background: var(--background);
  font-family: "Inter", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html,
  body {
    scroll-behavior: auto;
  }
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
  padding: 0;
}

ul {
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

button {
  padding: 0;
  appearance: none;
  background: none;
  border-style: none;
  cursor: pointer;
}
