---
import Layout from "@/layouts/Layout.astro";
import AboutmeSection from "@/sections/Aboutme.astro";
import HeroSection from "@/sections/Hero.astro";
import ProjectsSection from "@/sections/Projects.astro";
---

<Layout>
  <main>
    <HeroSection />
    <ProjectsSection />
    <div class="widthfull">
      <AboutmeSection />
    </div>
  </main>
</Layout>

<style>

  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .widthfull {
    width: 100%;
    background-color: white;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }
</style>
