---
const currentYear = new Date().getFullYear();
import Link from "@/components/Link.astro";
import Github from "@/icons/github.svg";
import Linkedin from "@/icons/linkedin.svg";
import Email from "@/icons/email.svg";
---

<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <a href="/" class="logo">
        <h3>Stephano Fernandez</h3>
        <span class="logo-description"> Desarrollador Web Full-Stack </span>
      </a>
    </div>

    <div class="footer-social">
      <div class="titles">
        <h4 class="footer-nav-title">Hagamos juntos tu próximo proyecto</h4>
        <span class="email">stephano.fernandez.03@gmail.com</span>
      </div>
      <div class="socials">
        <Link style="transparent">
          <Github width={24} height={24}/>
        </Link>
        <Link style="transparent">
          <Linkedin width={24} height={24}/>
        </Link>
        <Link style="transparent">
          <Email width={24} height={24}/>
        </Link>
      </div>
    </div>
  </div>
</footer>

<style>
  h3 {
    font-family: "Clash";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  span{
    color: rgb(113, 113, 113);
  }
  .logo-description {
    font-size: var(--fs-sm);
  }

  a {
    color: white;
  }
  .footer {
    background: var(--foreground);
    padding: 3rem 1rem 1rem;
    margin-top: auto;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  .footer-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  h4 {
    font-size: var(--fs-md);
    font-family: "Clash";
    font-weight: 500;
  }

  .email {
    display: block;
    text-align: center;
    font-size: var(--fs-base);
  }

  .socials{
    display: flex;
    gap: 1rem;
  }
</style>
