---
import LinkMensaje from "@/components/LinkMensaje.astro";
import LinkCV from "@/components/LinkCV.astro";
---

<header>
  <div class="container">
    <a href="/" class="logo">
      <h3>Stephano Fernandez</h3>
      <span> Desarrollador Web Full-Stack </span>
    </a>
    <div class="buttons">
      <LinkMensaje style="transparent" />
      <LinkCV style="green" />
    </div>
  </div>
</header>

<style>
  header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    @media (width > 1024px) {
      padding: 2.5rem;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    @media (width > 1024px) {
      max-width: 90rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h3 {
    font-family: "Clash";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  span {
    font-size: var(--fs-sm);
    color: var(--color-text);
  }

  .buttons {
    display: none;

    @media (width > 1024px) {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }

  a {
    color: white;
  }
</style>
