---
const { id } = Astro.props;
---

<section id={id}>
  <slot />
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1440px;
    /* margin-left: auto; */
    /* margin-right: auto; */
  }
</style>
