---
const { id, class: className } = Astro.props;
---

<section id={id} class={className}>
  <slot />
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1200px;
  }

  .bg-white {
    width: 100%;
    background-color: white;
    max-width: 1100px;
  }
</style>
