---

---

<div class="container">
  <slot name="icon" />
  <slot />
</div>

<style>
  .container {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: var(--fs-sm);
    font-family: "Clash";
    font-weight: 500;
    background-color: #141414;
  }
</style>
