---
import SectionContainer from "@/components/SectionContainer.astro";
---

<SectionContainer id="aboutme" class="bg-white">
  <div class="container">
    <div class="container-title">
      <h2>Sobre mí</h2>
      <p>
        ¡Hola! Soy <strong class="highlight">Stephano Fernández</strong>. Mi
        camino en el <strong class="highlight">desarrollo de software</strong>
        comenzó en 2020, cuando una simple curiosidad por crear plugins en Java para
        networks de Minecraft despertó una verdadera <strong class="highlight"
          >pasión por la programación</strong
        >.
      </p>

      <p>
        Desde entonces, he estado en constante <strong class="highlight"
          >aprendizaje</strong
        >, combinando mis estudios en <strong class="highlight"
          >Desarrollo de Sistemas de Información</strong
        > con proyectos
        <strong class="highlight">freelance</strong> que me han permitido aplicar
        mis conocimientos en entornos reales.
      </p>

      <p>
        Actualmente, estoy enfocado en crear <strong class="highlight"
          >soluciones</strong
        > que no solo sean funcionales, sino también <strong class="highlight"
          >impactantes</strong
        >, <strong class="highlight">escalables</strong> y centradas en la
        <strong class="highlight">experiencia del usuario</strong>. Para mí,
        cada proyecto es una oportunidad de crecer, innovar y transformar ideas
        en <strong class="highlight">realidades tecnológicas</strong> que marquen
        la diferencia.
      </p>
    </div>

    <div class="container-image">
      <img src="/profile.webp" alt="me" />
    </div>
  </div>
</SectionContainer>

<style>
  .container {
    display: flex;
    width: 100%;
    flex-direction: row;
    color: black;
    margin-top: 5rem;
    margin-bottom: 5rem;
    gap: 3rem;
  }

  .container-title {
    flex: 1;
    margin-bottom: 0;
    height: 100%;
    align-content: center;
  }

  .container-image {
    flex-shrink: 0;
  }

  .container-image img {
    object-fit: cover;
    width: 100%;
    max-width: 450px;
    height: auto;
    aspect-ratio: 1;
  }

  h2 {
    font-family: "Clash";
    font-weight: 600;
    font-size: var(--fs-xl);
    margin-bottom: 1.5rem;
    line-height: 1.2;
  }

  p {
    font-size: var(--fs-base);
    max-width: 65ch;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    color: #333;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .highlight {
    color: #249529;
    font-family: "Clash";
    font-weight: 450;
  }

  @media (width <= 768px) {
    .container {
      flex-direction: column;
      gap: 2rem;
      text-align: center;
    }

    .container-title {
      order: 2;
    }

    .container-image {
      order: 1;
      align-self: center;
    }

    .container-image img {
      max-width: 300px;
    }

    p {
      max-width: 100%;
    }
  }
</style>
