---
import SectionContainer from "@/components/SectionContainer.astro";
import Project from "@/components/Project.astro";

import { getCollection } from "astro:content";

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
const featuredProjects = projects.filter((project) => project.data.featured);
const otherProjects = projects.filter((project) => !project.data.featured);
---

<SectionContainer>
  <div class="container">
    <div class="container-title">
      <h2>Algunos proyectos en los que He trabajado</h2>
      <span>
        Cada proyecto es un desafío único: una oportunidad para innovar,
        aprender y entregar soluciones eficaces.
      </span>
    </div>
    <div class="projects">
      {
        featuredProjects.map((project) => (
          <Project
            title={project.data.title}
            description={project.data.description}
            image={project.data.image}
            link={project.data.image}
          />
        ))
      }
    </div>
  </div>
</SectionContainer>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-title {
    margin-bottom: 5rem;
    text-align: center;
  }

  h2 {
    font-family: "Clash";
    font-weight: 600;
    font-size: var(--fs-lg);
  }

  span {
    font-size: var(--fs-base);
  }

  .projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
</style>
